* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 800px;

  background-image: url(C:\xampp\htdocs\Gestion_Tareas\img/aurab.jpg),
    url(C:\xampp\htdocs\Gestion_Tareas\img/img-demost.png);
}
.img-demost.png {
  background-position: 0px;
  position: absolute;
  width: 3px;
  height: 107px;
  left: 0px;
  top: 0px;
  background: #5ca1f1;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 2px;
}

.tituloUno {
  position: absolute;
  width: 800px;
  height: 98px;
  left: 10px;
  top: -35px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.pa-uno {
  position: absolute;
  width: 440px;
  height: 198px;
  left: 5px;
  top: -75px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.pa-dos {
  position: absolute;
  width: 440px;
  height: 198px;
  left: 7px;
  top: -50px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.pa-tres {
  position: absolute;
  width: 440px;
  height: 198px;
  left: 9px;
  top: -30px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.pa-cuatro {
  position: absolute;
  width: 440px;
  height: 198px;
  left: 100px;
  top: 50px;
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #5ca1f1;
}
